.signup_form {
    border-radius: 12px;
    border:2px solid;
    width:400px;
    height:700px;

    display:flex;
    flex-direction:column;


    font-weight:300;
    padding:0 24px;
    font-size: 25px;
}

.title_signup {
    display:flex;
    justify-content: center;
    border-bottom:0.6px solid grey;

    padding:10px;
    margin:20px;
}

.signup_table {
    display:flex;
    justify-content: center;
    margin-left:25px;
    width:400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #222222;





}


.welcome {
    display:flex;
    justify-content: center;
    
    margin-top:20px;


}

.signup_table {
    margin-top: 0px;
    display: flex;
    width: 350px;
    height: 14px;
    padding: 10px;
    border: 1px solid rgb(103, 97, 97);
    border-radius: 10px;
    font-size: 14px;
}

.submit_signup {
    display:flex;
    justify-content: center;
    width:350px;
    height: 40px;
    border-radius: 12px;
    margin-top:40px;
    background-color: #ff385c;
    color:white;
    align-items:center;
    border:none;
    font-size:15px;
    margin-left:25px;
    cursor:pointer;

}

#sign_up {
    margin-right:10px;

}

.signup_title {
    font-size: 16px;
    color: rgb(102, 87, 87);
    margin-bottom: 0px;


}

.error {

    font-size:16px;
    color:rgb(33, 26, 26)

}


.error_container {
margin:10px;
}
