.createSpot_form {
    border-radius: 12px;
    border:2px solid;
    width:600px;
    height:800px;
}

.host {
    display:flex;
    justify-content: center;
    border-bottom:0.6px solid grey;
   
    padding:10px;
    margin:20px;
}

.become_a_host {

    font-size:16px;
    border:none;
    border-radius:35px;
    padding:8px;
    margin-right:40px;
    background-color:white;
    color:rgb(64, 60, 60);


}

.become_a_host:hover {
    background-color:rgb(231, 223, 223);
    cursor: pointer;
}

.upper_right_login_signup_host{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right:50px
}
