.user_reviews_Info_conntainer {
    display:flex;
    flex-direction: column;
    margin: 10px 100px;
    padding:10px 100px;
    justify-content: flex-start;
}

.user_review_Img_review {
    width: 600px;
    height: 500px;
    padding: 5px;
    border-radius: 20px;
    object-fit: cover;
}


.user_review_name {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:10px;
    margin:20px;
    font-weight: bolder;
}

.user_review_el {
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(230, 212, 212);
    padding:15px;
}

.user_review_right {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 100px;
}

.user_list_review_name {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:rgb(40, 5, 5);
    margin-top: 0;
    margin-left:0;
    margin-bottom: 100px;

}

.list_star_group {
font-size: 18px;
}

.user_review_star {
    margin-bottom: 10px;
}

.user_review_content,.review_create_time {
    margin:20px
}

.userReview_delete_button button {
    background-color: rgba(255, 0, 0, 0.739);
    border:0 solid white;
    border-radius: 10px;
    height: 35px;
    width:150px;
    cursor:pointer;
    margin:10px;
    margin-right: 30px;
    color:white
}
