.fa-house {
    font-size: 40px;
    color:#ff385c
}

.logo_name_one {
    font-size: 30px;
    color:#ff385c;

    margin-left: 5px;
    margin-top: 5px;


}

.navLink {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor:pointer;


}

.header_right {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    background-color: white;
    width:100%;

}
.profile-dropdown {
    position: absolute;
    right: 5%;
    background-color: white;
    border: 1px solid;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    width: 180px;
    border: 1px solid rgb(203, 198, 198);
    border-radius: 12px;
    margin-top: 45px;

    font-size: 15px;
    text-decoration: nong;
    margin-right: 0;
}

.profilebutton_div {
    position: relative;
    display: flex;
    justify-content: center;

}



.header_container {
    border-bottom: 1px solid rgb(210, 210, 210);
    color: #222222;
    position: sticky;
    top: 0;
    background-color: white;

}

.header_allthing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 150px;
    padding-right: 150px;
    margin: 80 200 0 200;

}

.upper_right {
display:flex;

}


.fa-bars,
.fa-circle-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    margin-right: 13px;
    border: none;
}



.header_login_signup {
display:flex;
justify-content: center;
}


#manage_listings {
    text-decoration: none;
}

.info_navigation {
    font-size:15px;
    padding:5px;
    margin-left: 10px;

}

#user_email {
    border-bottom:1px solid rgb(210, 210, 210);
    margin:10px
}

.logout_button_drop {
    font-size: 14px;
    color:black;
    cursor: pointer;
    margin-top: 6px;
    border-radius: 12px;
    padding:5px;
    border:0.5px solid grey;
    display:flex;
   margin-left:55px
}

.profile-2-icon{
    display: flex;

}

.upperRight_button {
    padding:3px 0;
    border:none;
    border-radius: 12px;
    cursor: pointer;
}

.fa-bars {
    padding-left: 12px;
}


.searchBar-container{
    width: 100%;
    height: 40px;

}

.searchBar-form {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    width: 100%;
    border: 2px solid black;
    border-radius: 50px;
    outline: none;

}
.searchBar-input {
    background-color: #f4f4f4;
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    color: black;
    /* border: 2px solid black; */
    border-radius: 50px 0 0 50px;
    outline: none;
  }

  .fa-sharp.fa-solid.fa-magnifying-glass {
    font-size: 1.3rem;
    color: black;
  }

  .searchBar-button {
    background: transparent;
    border: none;
    width: 10%;
    border-radius: 0 50px 50px 0;
    padding: 10px 20px 10px;
    cursor: pointer;
    display: flex;
    justify-content:center;

  }
  .searchBar-button:hover {
    background-color: #d3d3d3;
  }

  .footer-div {
    height: 60px;
    color: white;
    background-color: #FDEBD2;
    border-top: 1px solid rgb(255 255 255 / 10%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .footer-individual-div {
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    column-gap: 6px;
    font-size: 12px;



  }
  .right_box {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
  }

  .footer-individual-div a {
    color: #4a154b;
    cursor: pointer;
    width: 25px;

  }
  .footer-individual-div a:hover {
    color:blue
  }


  .fa-brands.fa-github:focus-visible {
    outline: unset;
    background-color: unset;
  }

  .fa-brands.fa-github {
    cursor: pointer;
  }

  .footer-individual-div img {
    cursor: pointer;
    padding-right: 0;
  }

  .footer-individual-div img:hover {
      background-color: black

  }

  .fa-github {
    padding-left: 0px;

  }

  #linkedin_icon {
    padding-right:0
  }

  #developer_ls {
    font-size:16px
  }
  .left_box {
    font-size: 16px;
  }
