.icon {
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
    margin-top:0;
}

.header_right {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    background-color: white;
    width:100%;

}

ul.profile-dropdown {
    position: absolute;
    right: 5%;
    background-color: white;
    border: 1px solid;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.profilebutton_div {
    position: relative;
}
